
  @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Poppins:wght@400;600&family=Source+Code+Pro:ital,wght@0,400;1,500&display=swap');


body{
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'PT Serif', serif;
  font-weight: bolder;
  font-size: 3rem;
}

p, a, h4 {
  font-family:'Poppins', sans-serif; 
}

:root{
  --primaryColor: #142a15;
  --secondaryColor: #b68723;
  --cardColor: rgba(203, 201, 128, 0.7);
  --textColor: rgb(0, 0, 0, 0.7);
}
.special-button{
  background-color: white;
  border: 2px solid var(--primaryColor);
  border-radius: 170px;
  padding: 7px;
  margin-left: 15px;
  margin-top: 10px;
}

.special-button:hover{
  background-color: var(--primaryColor);
  color: white;
}

a{
  text-align: center;
  text-decoration: none;
}

.icon{
  color: var(--secondaryColor);
}

.secondHeading{
  color: var(--primaryColor);
}

p{
  color: var(--textColor);
}

.flex{
  display: flex;
  flex-direction: column;
}