.nav-bar nav{
  background-color: var(--primaryColor)!important;
}
a{
  color: white!important;
}
.icon, button{
  color: var(--secondaryColor);
}
li:hover{
  background-color: var(--secondaryColor);
}
